@model PagedList.IPagedList<WorkersInMotion.Model.ViewModel.RegionModel>

@{
    // Layout = null;
}
@using PagedList.Mvc;
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style type="text/css">
        /*.leftbar-heading {
            font-family: Arial,Verdana, Helvetica, sans-serif;
            font-size: 13px;
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
        }*/
    </style>
</head>
<body>
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Add / Manage Regions
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="@Url.Action("DashBoard","User")">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Regions</a></li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
    </div>
    <!-- END DASHBOARD STATS -->


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cog"></i>This page will allow you to add a Region.</div>
                    @Html.Raw(@ViewBag.TerritoryList)
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a href="@Url.Action("Create", "Region", new { id = ViewBag.Id })" class="btn red">
                                Add New Region <i class='icon-plus'></i>
                            </a>
                            @*@Html.ActionLink("Create New  <i class='icon-plus'></i>", "Create", null, new { @class = "btn red" })*@
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover ">
                        <tr>

                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th></th>
                        </tr>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="odd gradeX">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.RegionGUID }, new { @class = "label label-sm label-info", @style = "border-radius:0px;" })
                                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.RegionGUID, id1 = ViewBag.Id }, new { @class = "label label-sm label-warning", @style = "border-radius:0px;", @onclick = "return deleteconfirm();" })
                                        @Html.ActionLink("Service Points", "Index", "ServicePoint", new { id = item.TerritoryGUID, regionguid = item.RegionGUID }, new { @class = "label label-sm label-default", @style = "border-radius:0px;" })
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" align="center" style="color:red">
                                    No Data Found
                                </td>
                            </tr>
                        }
                    </table>
                    <div id='Paging' style="text-align:center">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { id = ViewBag.Id, page }))
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <!-- END PAGE -->
        </div>
    </div>
</body>
</html>
