@model WorkersInMotion.Model.ViewModel.ForgetPasswordModel
@{
    //  Layout = null;
    @Html.Raw(TempData["msg"])
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div style="width:100%;" align="center">
        <fieldset style="width:50%;padding:20px 20px 20px 20px;border:solid 1px #CBCDCF;" id="fldNullContent">
            <legend style="vertical-align:middle;"></legend>
            <table width="100%">
                <tr>
                    <td class="heading-Bold" style="width: 100%;" align="left">
                        <h3>Forgot your password?</h3>
                        <br />We'll help you sign in to Workers-In-Motion Server.
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;" class="leftbar-heading" align="left">
                        Enter your Email Id to receive your password
                    </td>
                </tr>

            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <table width="100%">
                    <tr>
                        <td style="width:2px;"></td>
                        <td align="center">
                            <hr /><br />
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmailID, new { @class = "leftbar-heading control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EmailID)
                                                @Html.ValidationMessageFor(model => model.EmailID)
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 10%;" colspan="3">
                                        <label></label>
                                        <label id="Label1" class="leftbar-heading">(Please provide your email ID which is registered with the Workers-In-Motion Server.)</label>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="2" align="right">
                            <hr style="width:100%;" /><br />
                            <a href="@Url.Action("Login","User")" class="btn default">Cancel</a>
                            <button type="submit" class="btn blue"><i class="icon-ok"></i> Submit</button>
                        </td>
                    </tr>
                </table>
            }
        </fieldset>
    </div>
</body>
</html>
